<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
      ">
    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.qf.mall.service" />
    <!-- 读取外部文件 -->
    <context:property-placeholder location="classpath:db.properties" />
    <!-- 配置连接池 -->
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="driverClassName" value="${mybatis.driver}" />
        <property name="url" value="${mybatis.url}" />
        <property name="username" value="${mybatis.username}"/>
        <property name="password" value="${mybatis.password}" />
    </bean>
    <!-- 配置是sqlSessionFactory -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
        <property name="typeAliasesPackage" value="com.qf.mall.pojo" />
        <property name="plugins" >
            <bean class="com.github.pagehelper.PageInterceptor" />
        </property>
    </bean>
    <!-- 配置mybatis映射层扫描 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.qf.mall.mapper" />
    </bean>
    <!-- 配置事务管理对象 -->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 配置通知 -->
    <tx:advice id="myAdvice" >
        <tx:attributes>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="get*" read-only="true" />
            <tx:method name="add*" />
            <tx:method name="insert*" />
            <tx:method name="remove*" />
            <tx:method name="delete*" />
            <tx:method name="modify*" />
            <tx:method name="update*" />
        </tx:attributes>
    </tx:advice>
    <!-- 配置AOP -->
    <aop:config>
        <aop:pointcut id="p" expression="execution(* com.qf.mall.service.impl.*ServiceImpl.*(..))"/>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="p" />
    </aop:config>
</beans>