<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mall.mapper.UserMapper">
    <resultMap id="userMap" type="com.qf.mall.pojo.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_sex" property="userSex"/>
        <result column="phone" property="phone"/>
        <result column="head" property="head"/>
        <result column="role_id" property="userRoleId"/>
        <result column="birthday" property="birthday"/>
     </resultMap>

    <resultMap id="userMapRole" type="com.qf.mall.pojo.UserVo">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_sex" property="userSex"/>
        <result column="phone" property="phone"/>
        <result column="head" property="head"/>
        <result column="role_id" property="userRoleId"/>
        <result column="birthday" property="birthday"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <sql id="columAll">
       user_id,username,password,user_sex,phone,head,tb_user.role_id,birthday
    </sql>

    <insert id="addUser" parameterType="com.qf.mall.pojo.User">
        insert into tb_user  values (
            null,
            #{username},
            #{password},
            #{userSex},
            #{phone},
            #{head},
            #{userRoleId},
            #{birthday}
        )
    </insert>

    <update id="updateById" parameterType="com.qf.mall.pojo.User">
        update tb_user
        <set>
            <if test="username!=null and username!=''">,username=#{username}</if>
            <if test="userSex!=null and userSex!=''">,user_sex=#{userSex}</if>
            <if test="phone!=null and phone!=''">,phone=#{phone}</if>
            <if test="head!=null and userHead!=''">,head=#{head}</if>

        </set>
        where user_id=#{userId}
    </update>

    <delete id="batchDeleteUserByIds" >
        delete from tb_user where user_id
        <foreach collection="array" item="id" open="in(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getUserByName" resultMap="userMap">
        select <include refid="columAll"></include>
        from tb_user where username=#{username}
    </select>

    <select id="getAllUserByVo" parameterType="com.qf.mall.common.UserSerchVo" resultMap="userMapRole">
        select <include refid="columAll"></include>,tb_role.role_name
        from tb_user left join tb_role on tb_user.role_id=tb_role.role_id
        <where>
          <if test="username!=null and username!=''">
              and username like concat("%",#{username},"%")
          </if>
          <if test="userSex!=null and userSex!=''">
              and user_sex=#{userSex}
          </if>
          <if test="phone!=null and phone!=''">
              and phone = #{phone}
          </if>
          <if test="roleName!=null and roleName!=''">
              and role_name=#{roleName}
          </if>
        </where>
        order by user_id
    </select>

    <select id="findUserById" resultMap="userMap">
        select * from tb_user where user_id=#{v}
    </select>
</mapper>

